.about-wrapper{
    width: 45%;
    
}

.about-container{
    display: flex;
    // flex-direction: column;
    justify-content: center;

    .about-contents{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .about-column-one{
            flex: 50%;
            display: flex;
            
        }

        .about-column-two{
            flex: 50%;
            display: flex;
            justify-content: center;

            img{
                
                width: 16rem;
            }
        }
    }

    
}