.footer-container{
    display: flex;
    flex-direction: column;

    .footer-group{
        display: flex;
        justify-content: space-between;
        color: white;
        margin: 0.8rem 4.5rem;
        font-size: 14px;
        font-family: 'lato-light';
        -webkit-font-smoothing: antialiased;
        letter-spacing: 0.8px;
        position: relative;
        bottom: 5px;
    }
    
}

.footer-socials{
    display: flex;
    width: 22%;
    justify-content: space-between;
}