bg-container{
    background: url('/assets/images/hills.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    // filter: saturate(140%);
    // image-rendering: -webkit-optimize-contrast;
}

